[defaults]
roles_path = $PWD/roles
collections_path = $PWD/collections
inject_facts_as_vars = False
inventory = $PWD/inventory
forks = 20
check_mode_markers = True
transport = ssh
force_handlers = True
show_task_path_on_failure = True
collections_on_ansible_version_mismatch = ignore
deprecation_warnings = False
localhost_warning = False

[inventory]
inventory_unparsed_warning = False
