kind: Service
apiVersion: v1
metadata:
  namespace: {{ ansible_operator_meta.namespace }}
  name: {{ ls_service_name }}
  labels:
    service: rhel-lightspeed
    app: {{ ls_k8s_name }}
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: {{ ls_k8s_name }}
